:root {
    --main-page-color: #2E2F42;
    --text-color: #434455;
    --remove-marker-list: none;
    --l-gradient: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7));
}

* {
    box-sizing: border-box;
}

/*-------------Style reset------------ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*---------------Logo---------------*/
.accent {
    color: #4D5AE5;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-page-color);
}

.logo-header {
    margin-right: 76px;
}

/*----------------Navigation----------------*/
.header-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    list-style-type: var(--remove-marker-list)
}

.header-list-link {
    text-decoration: none;
    color: var(--main-page-color);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

/* ---------------Address---------------*/
.address-tel {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}

.address-list {
    list-style-type: var(--remove-marker-list)
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
}

.heder-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-list-container {
    display: flex;
    gap: 40px;
}

.address-list-container {
    display: flex;
    gap: 40px;
}

/*----------------Hero---------------*/
.section-hero {
    background-color: var(--main-page-color);
    padding-bottom: 188px;
    background-image: var(--l-gradient), url(../images/people-office.jpg);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}


.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding-top: 188px;
    margin-bottom: 48px;
    width: 496px;
}

.hero-button {
    display: flex;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}

.address-tel:hover,
.address-tel:focus {
    color: #404BBF;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.hero-text {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

/*---------------Features--------------- */
.features {
    margin-top: 120px;
    margin-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;

}

.features-subtitle {
    font-weight: 500;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
}

/*---------------Our works---------------*/
.doing-list,
.team-list,
.features-list {
    list-style-type: var(--remove-marker-list)
}

.doing-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.doing-list-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.doing-title,
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/*---------------Team--------------- */
.bg-color-team {
    background-color: #F4F4FD;
}

.team-title-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-list-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-bottom: 120px;
}

.team-bg-color {
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-list-wrap {
    width: 264px;
    padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-name-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: var(--remove-marker-list);
    padding: 8px 16px 32px;
}

.soc-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    background-color: #4D5AE5;
    ;
}

.soc-link:hover {
    background-color: #404BBF;
}

.soc-icon {
    fill: #F4F4FD;
    ;
}

.soc-icon:hover {
    fill: #F4F4FD;
}

/*---------------Customers---------------  */


.company-list {
    list-style-type: var(--remove-marker-list);
}

.title-customers {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/*---------------Footer--------------- */

.bg-color-footer {
    background-color: var(--main-page-color)
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    color: #FFFFFF;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    margin-top: 16px;
}

/*---------------Portfolio Page--------------- */
/*---------------Button---------------*/
.btn-list,
.gallery-list {
    list-style-type: var(--remove-marker-list)
}

.btn-list-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
}

.btn-items:hover,
.btn-items:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.btn-text:hover,
.btn-text:focus {
    color: #FFFFFF;
}

.btn-items {
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
}

.btn-text {
    color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

/*---------------Gallery--------------- */
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;
}

.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.gallery-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.gallery-item-border {
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    display: block;
}